<h1>Admin::Categories#index</h1>
<table class = "table table-bordered">
<thead>
  <tr>
    <th>Category</th>
  </tr>
</thead>
<tbody>
<% @categories.each do |category|%>
  <tr>
    <td>
    <%= category.name %>
    </td>
  </tr>
  <% end%>
</tbody>
  </table>
  <div class="well">
    <%= link_to '+ New Category', [:new, :admin, :category], class: 'btn btn-info' %>
  </div>
